* {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}
h1 {
    margin: 20px;
}
form {
    margin: 20px 40px;
}
ul {
    margin: 20px;
}
li {
    color: red;
}
.registration_msgs, .login_msgs {
    list-style-type: none;
    display: inline-block;    
}